<!--@subject Happy Birthday! Enjoy Your Special Reward Points Bonus @-->
<!--@vars {
"var customer.name":"Customer Name",
"var points_awarded":"Points Awarded",
"var new_balance":"New Balance",
"var store_name":"Store Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td>
            <p>{{trans "Dear %name," name=$customer.name}}</p>
            <p>{{trans "Happy Birthday! As a special birthday gift from %store_name, we have added bonus reward points to your account." store_name=$store_name}}</p>

            <table cellspacing="0" cellpadding="5" border="0" width="100%">
                <tr>
                    <td><strong>{{trans "Birthday Bonus Points"}}</strong></td>
                    <td>{{var points_awarded}} {{trans "points"}}</td>
                </tr>
                <tr>
                    <td><strong>{{trans "Current Balance"}}</strong></td>
                    <td>{{var new_balance}} {{trans "points"}}</td>
                </tr>
            </table>

            <p>{{trans "We hope you have a wonderful birthday! Use your points to treat yourself to something special."}}</p>
            <p>{{trans "With warmest wishes from the team at %store_name." store_name=$store_name}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
